# Tell npm that all packages under the @gabriel70g scope belong to the GitHub Packages registry
@gabriel70g:registry=https://npm.pkg.github.com/

# Tell npm to use an environment variable for the authentication token
# This is more secure than writing the token directly in the file.
npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN} 